button{
  background: none;
  border: none;
  color: white;
}
.overlay.active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 여기서 rgba의 마지막 값은 투명도를 나타냄 */
  display: block;
}
.login {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.login a {
  text-decoration: none;
  padding: 12px 24px;
  color: black;
}
.login a:hover {
  background-color: rgb(44, 48, 145);
  color: white;
}
body {
  margin: 0;
}
.navbar {
  display: grid;
  grid-template-columns: 3fr 9fr;
  text-align: center;
  align-items: center;
  color: white;
  background-color: rgb(44, 48, 145);
  padding: 8px 12px;
  position: sticky;
  top: 0;
  z-index: 99;
}
.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu li:hover > a {
  color: rgb(44, 48, 145);
  background-color: white;
  border-radius: 4px;
}
.dropbtn {
  padding: 8px 38px;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.hiddenmenu {
  width: 100%;
  display: none; 
  flex-direction: column;
  top: 30px;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(44, 48, 145);
  border-radius: 4px;

}
.hiddenmenu > li {
  z-index: 99;
  padding: 12px 18px;
  display: inline-block;
}
.hiddenmenu > li:hover {
  background-color: white;
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}
.hiddenmenu > li > a {
  display: flex;
  width: 100%;
}



.icons {
  color: white;
  padding-left: 0;
  margin: 0;
  font-size: 30px;
  position: relative;
  right: 30px;
}
#hamburger {
  position: absolute;
  right: 10px;
  font-size: 24px;
  display: none;
}
#hamburger:hover{
  background-color: white;
  color: rgb(44, 48, 145);
}
.main {
  text-align: center;
}
.wrap {
  display: inline-block;
  width: 1170px;
}
.a {
  display: flex;
  justify-content: center;
}
.vote {
  width: 400px;
  height: 422px;
  border: 2px solid black;
  text-align: center;
  margin: 10px 10px;
}
.double {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.notice {
  width: 400px;
  height: 200px;
  border: 2px solid black;
  text-align: center;
  margin: 10px;
}
.board {
  width: 400px;
  height: 200px;
  border: 2px solid black;
  margin: 10px;
}
footer {
  padding: 20px;
  background-color: rgb(44, 48, 145);
  color: white;
}
.footer_title{
 text-align: center;
}
.footer_main{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 100px;
}
.rows{
  background-color: grey;
  border-radius: 12px;
  padding: 12px 24px;
  color: rgb(44, 48, 145);
}
.rows{
  text-align: center;
}
.rows ul{
  list-style: none;
  padding: 0;
}
.rows li{
  padding: 10px 0px;
}
.rows a{
  text-decoration: none;
  color: rgb(44, 48, 145);
}
@media screen and (max-width: 768px) {
  .navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu{
    width: 100%;
    display: none;
    flex-direction: column;
  }
  .menu.active{
    display: flex;
  }
  .dropdown{ 
    width: 100%;
    padding: 12px 0px;
  }
  .hiddenmenu{
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    border: 1px solid black;
    position: static;
    display: none;
  }
  #hamburger{
    display: block;
  }
}
