body {
  margin: 0;
}
.main {
  text-align: center;
}
.wrap {
  display: inline-block;
  width: 1170px;
}
.table {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  align-items: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border-bottom: 1px solid black;
  padding: 10px;
}
th {
  border-bottom: 3px solid black;
}
a {
  text-decoration: none;
  color: black;
}
.write {
  padding: 5px 10px;
  float: right;
  margin: 20px;
}
